@import url(default.css);
@import url(common.css);
@import url(layout.css);

@media screen and (max-width:1600x){
    section .wrapper
    footer .wrapper {
        width: auto;
        margin: 0 150px;
    }
}

.main_tit {
    padding: 50px;
    font-size: 110px;
}
h1 {
    font-size: 220px;
    font-weight: 900;
    letter-spacing : -0.02em;
}
.main_tit .list02 {
    margin: 0 0 0 200px;
}
.main_tit .list03 {
    margin: 0 0 0 500px;
}
.main_tit .year {
    font-size: 30px;
    text-align: right;
}

.bg_b {
    background-color: #000;
    color: #ffff;
}

.info {
    padding: 100px 0;
}

.web .web_tit h2 {
    padding: 0 0 0 20px;
}
.web .web_tit h2, .other .other_tit h2  {
    font-size: 110px;
    font-weight: 900;
    margin: 20px 0 30px 0;
}
.web .list ul li { 
    display: flex;
    justify-content: space-around;
    margin: 100px 0 150px 0;
}
.web .list ul li .list01 a:hover img,
.web .list ul li .list02 a:hover img,
.web .list ul li .list03 a:hover img,
.web .list ul li .list04 a:hover img  {
    transform: translateY(-20px);
}
.web .list ul li .list01_txt,
.web .list ul li .list02_txt,
.web .list ul li .list03_txt,
.web .list ul li .list04_txt {
    padding: 150px 0 0 0;
}
.web .list ul li h3 {
    font-size: 35px;
}
.web .list ul li h3 strong {
    color: #205EFF;
    font-weight: 900;
    margin: 0 10px 0 0;
}
.web .list ul li h3 .txt {
    font-size: 18px;
    color: #999;
    margin: 0 0 0 10px;
}
.web .list ul li p {
    font-size: 19px;
    font-weight: 400;
    margin-top: 10px;
    line-height: 1.5rem;
    width: 850px;
}
.web .list ul li .list_sub p {
    font-size: 16px;
    color: #999;
    line-height: 0.8rem;
    font-weight: 400;
}

.other {
    padding: 150px 0;
}
.other_tit h2  {
    text-align: center;
}
.other h2 {
    font-weight: 900;
} 
.other .other_photo {
    margin: 80px 0 0 0 ;
}
.other .other_photo a img {
    display: block;
    margin: auto;
}

.finish {
    padding: 280px 0;
}
.finish .line {
    font-size: 150px;
    font-weight: 400;
    text-align: center;
    overflow: hidden;
}

/*애니메이션 작용*/
.finish .line span {
    overflow: hidden;
    height: 72px;
}
.finish.active .line span {
    
    animation-name: line_ani;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards 
}
@keyframes line_ani { 
	0% { transform: translate(0, 1.2em) }
	100% { transform: translate(0, 0) }
}
