@import url(default.css);
@import url(common.css);
@import url(layout.css);

@media screen and (max-width:1600x){
    section .wrapper
    footer .wrapper {
        width: auto;
        margin: 0 150px;
    }
}

.main_tit {
    padding: 50px;
    font-size: 110px;
    font-family: "DM Serif Text";
}
.main_tit h1 {
    font-size: 200px;
    font-weight: 900;
    letter-spacing : -0.02em;
}
.main_tit .list02 {
    margin: 0 0 0 200px;
}
.main_tit .list03 {
    margin: 0 0 0 500px;
}
.main_tit .year {
    font-size: 30px;
    text-align: right;
}

.bg_b {
    background-color: #000;
    color: #ffff;
}

.other div .img {
    text-align: center;
}

.web, .other {
    padding: 50px 50px;
}

.web h2, .other h2  {
    font-size: 110px;
    margin: 20px 0 30px 0;
}
.web .list ul li h3 {
    font-size: 35px;
}
.web .list ul li h3 strong {
    color: #205EFF;
}
.web .list ul li h3 strong span {
    font-size: 18px;
}